.pallet-pixel {
   border: 1px dotted black;
   margin: 10px;
   border-radius: 40px;
}

.canvas-pixel {
   border: 1px dotted black;
}

#brush-color {
    margin: auto;
}

#outer-container {
  width: 100%
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  margin: auto;
}

#pallet {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  margin: 10px auto;
}
